---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Plans from "@components/pricing.astro";

const plans = [
  {
    name: "Gratis",
    price: "0 €",
    popular: false,
    features: [
      "Sin límite de subscripciones",
      "Listado de servicios incluído",
      "Crea tus propias subscripciones",
      "Personaliza la apariencia",
      "Notificaciones de pago",
      "Privada & Segura",
    ],
    button: {
      text: "Descarga la app",
      link: "https://apps.apple.com/es/app/bullets/id1536420851",
    },
  },
  {
    name: "Opción Plus",
    price: "3,99 €",
    popular: false,
    features: [
      "Sin límite de subscripciones",
      "Listado de servicios incluído",
      "Crea tus propias subscripciones",
      "Personaliza la apariencia",
      "Notificaciones de pago",
      "Privada & Segura",
      "Comparte con amigos",
      "Pausa subscripciones",
      "Resumen de tus subscripciones",
      "Widgets en la pantalla de inicio",
    ],
    button: {
      text: "Descarga la app",
      link: "https://apps.apple.com/es/app/bullets/id1536420851",
    },
  },
  {
    name: "Opción Premium",
    price: "6,99 €",
    popular: true,
    features: [
      "Sin límite de subscripciones",
      "Listado de servicios incluído",
      "Crea tus propias subscripciones",
      "Personaliza la apariencia",
      "Notificaciones de pago",
      "Privada & Segura",
      "Comparte con amigos",
      "Pausa subscripciones",
      "Resumen de tus subscripciones",
      "Widgets en la pantalla de inicio",
      "Pestaña hoy",
      "Widgets en pantalla de bloqueo",
      "Personaliza la edición",
      "Marca subscripciones en duda de renovación",
      "Marca favoritas",
      "Define un presupuesto mensual",
    ],
    button: {
      text: "Descarga la app",
      link: "https://apps.apple.com/es/app/bullets/id1536420851",
    },
  },
];
---

<Layout title="Planes">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Versiones</Fragment>
      <Fragment slot="desc">
        Free, Plus o Premium, elige el que mejor se adapte a tus necesidades.
        Pago único, sin subscripción. Siempre con una aplicación 100% funcional.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {plans.map((item) => <Plans plan={item} />)}
    </div>
  </Container>
</Layout>
