---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Widgets",
    description:
      "Widgets para que siempre lleves el control. De un vistazo, la información más importante.",
    icon: "gg:extension",
  },
  {
    title: "Características Premium",
    description:
      "Bullets está desarrollada, diseñada y mantenida por una sola persona. Para poder dar el mejor servicio y mantener viva la app son necesarias opciones de pago. El uso básico es gratuíto, si quieres todo el potencial, desbloquea la versión Plus o Premium.",
    icon: "bx:bxs-data",
  },
    {
    title: "Dashboard",
    description:
      "Una sección Hoy, con la información más imporante, próximos pagos, detalle del mes en curso y consumo de tu presupuesto.",
    icon: "bx:bxs-dashboard",
  },
  {
    title: "Estadísticas",
    description:
      "En que estás gastando tu dinero, tipos de subscripciones, a que las dedicas y como las pagas entre otros datos.",
    icon: "bx:bxs-bar-chart-alt-2",
  },
  {
    title: "Experiencia configurable",
    description:
      "Elige los colores, una vista resumida, subscripciones en las que dudas si mantenerlas.",
    icon: "bx:bxs-magic-wand",
  },
  {
    title: "Subscripciones pre-cargadas",
    description:
      "Una lista de servicios pre-cargados con sus logos correspondientes. Además como usuario premium podrás solicitar la adición de nuevos servicios.",
    icon: "bx:bxs-collection",
  },
  {
    title: "Modo Oscuro",
    description:
      "Para los amantes del modo oscuro, Bullets también dispone de el.",
    icon: "bx:bxs-bar-chart-alt-2",
  },
  {
    title: "Segura y Privada",
    description:
      "Toda tu información queda en tu iCloud. Una de las ventajas de Bullets es que tus datos son tuyos y no los compartes con nadie.",
    icon: "bx:bxs-key",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Múltiples carácterísticas
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Bullets existe para.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
