---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/logo_hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500"
						>Bullets</span
					> 
					<span
						class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading"
						><br>tener muchas subscripciones ya no será un problema.</span
					>
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Disfruta tu tiempo consumiendo aquello que amas. Bullets se ocupa del resto.
      <br>Siempre tendrás claro cuando y en que subscripciones gastas tu dinero. 
      Bullets te avisará para que canceles a tiempo.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://apps.apple.com/es/app/bullets/id1536420851"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5 " name="bx:bxs-cloud-download" />
        App Store
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://josavicente.dev"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-8 h-" name="bx:bxl-apple" />
        Creator website
      </Link>
    </div>
  </div>
</main>
